<!DOCTYPE html>
<html>
    {% include "../includes/head.twig" %}
    <body>
    {% include "../includes/header.twig" %}
    {% block page %}{% endblock %}
    {% include "../includes/footer.twig" %}
    {% include "../includes/scripts.twig" %}
    </body>
</html>